<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Min Hjemmeside - @ViewBag.Title</title>
</head>
<body>
    <div style="width:100%;">
        <h1>
            Min Hjemmeside
        </h1>
    </div>
    <div style="width:100%;">
        @RenderBody()
    </div>
    <div style="width:100%;">
        Footer her nede ca.
    </div>
</body>
</html>
