@model LayoutExample.Models.Home

@{
    ViewBag.Title = "Home";
}

<p>
    @Model.Text
</p>
<div>
    <img src="~/Content/Images/Layout/@Model.Image1" alt="Alternate Text"/>
    <img src="~/Content/Images/Layout/@Model.Image2" alt="Alternate Text" />
</div>